* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  padding: 10px;
}
.container-full {
  margin-top: 30px;
  background-color: rgb(221, 216, 216);
}
.categories {
  padding: 60px 0 40px 0px;
}
.categories h5 {
  padding-bottom: 20px;
}
.product-title {
  font-weight: 500 !important;
}
.product-price {
  color: rgb(255, 94, 0);
}
.product-category {
  color: grey;
}
.align-middle {
  padding-top: 50px;
  text-align: center;
}
.subnav {
  display: flex;
  justify-content: space-between;
}
a {
  color: black !important;
}
hr {
  width: 80%;
  align-self: center;
  background-color: rgb(170, 168, 168) !important;
}
.active-class {
  border: 1px solid rgb(255, 94, 0);
  border-radius: 5px;
}
footer {
  background-color: rgb(250, 193, 36);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
// .carousel-content {
//   color: red !important;
//   position: absolute !important;
//   padding-top: 10vh !important;
//   padding-right: 40vw;
//   padding-bottom: 0px !important;
//   width: 100vw;
// }
// .carousel-header {
//   font-size: 50px;
// }
// .carousel-desc {
//   text-align: center;
// }
